<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>12_ProjetECommerce</display-name>
	
	
	
	<!-- =========================================================================================== -->
	<!-- /////////////////////////////////Config de Spring Security///////////////////////////////// -->
	<!-- =========================================================================================== -->

	
	
	<!-- =========================================================================================== -->
	<!-- =========================================================================================== -->
	<!-- =========================================================================================== -->
	
	
	
	
	
	
	
	
	

	<!-- The front controller of this Spring Web application, responsible for handling all application requests -->
	<servlet>
		<servlet-name>projetECommerceServlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<!-- Map all requests to the DispatcherServlet for handling -->
	<servlet-mapping>
		<servlet-name>projetECommerceServlet</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
	
	
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<!-- needed for ContextLoaderListener -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
					/WEB-INF/applicationContext.xml
					/WEB-INF/projetECommerceServlet-servlet.xml
		</param-value>
	</context-param>

	<!-- Bootstraps the root web application context before servlet initialization -->
	
	

	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
</web-app>